{% extends 'layout.njk' %}

{% block content %}
  <main>
    <div class="banner container">
      <img src="{{items.image}}" alt="">
      <div class="txt">
        <h1>{{items.title}}</h1>
        <p>por
          {{items.author}}</p>
      </div>
    </div>
    <div class="ingredients-preparo container">
      <h2>Ingredientes</h2>
      <ul>
        {% for item in items.ingredients %}
          <li>• {{item}} </li>
        {% endfor %}
      </ul>
    </div>
    <div class="ingredients-preparo container">
      <h2>Modo de preparo</h2>
      <ul>
        {% for item in items.preparation %}
          <li>• {{item}} </li>
        {% endfor %}
      </ul>
    </div>
    <div class="infos container ingredients-preparo">
      <h2>Modo de preparo</h2>
      <p>{{items.information}}</p>
    </div>

  </main>
{% endblock %}