<!DOCTYPE html>

<head>

  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="header-admin">
    <div class="container">
      <a href="/admin/recipes"><img src="/logo_preto.png" alt=""></a>
    </div>
  </header>
  {% block content %}{% endblock %}
  
</body>
</html>