* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
max-width: 940px;
margin: 0 auto;

}

main {
min-height: calc(100vh - 93px - 76px );
margin-bottom: 50px;
}

* {   
color: #111111; 
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

}

a {
text-decoration: none;
color: black;
}


/* === HOME === */


/* HEADER */

.header { 
display: grid;  
height: 93px;  
grid-template-columns: 213px 727px;
align-items: center;
}

.header ul li {
display: inline;
}

.header a {
margin-right: 30px ;  
}

/* INTRODUCAO */

.introducao {
display: grid;
position: relative;
grid-template-columns: 1fr 1fr;
width: 100%;
height: 366px;
background:#FBDFDB ;
border-radius: 30px ;
align-items: center;
margin-bottom: 50px;
}

.texto-intro{
position: absolute;
left: 60px;
width: 316px;
}

.texto-intro h1 {
font-family: 'Roboto', sans-serif;
font-size: 32px;
margin-bottom: 10px ;
}

.texto-intro p {
opacity: 0.7;
font-size: 18px;
color: #000000;
line-height: 28px;
}

.introducao img {
position: absolute;
right: 100px;
bottom: 0;
}

/* CONTEUDO */

.conteudo h2 {
font-weight: bold;
font-size: 24px;
margin-bottom: 20px;
}

.refeicoes {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 20px;
row-gap: 30px;

}

.refeicao img{
width: 100%;
border-radius: 15px;  
cursor: pointer;
}

.refeicao h3 {
font-size: 18px;
}

.refeicao p {
font-size: 14px;
color: #777777;
}

/* FOOTER */

.footer { 
padding: 30px;
background: #EEEEEE;
}

.footer p {
text-align: center;
font-size: 14px;
color: #999999; 
}


/* === ABOUT === */

.content-about h1 {
font-size: 24px;
font-weight: bold;
margin-bottom: 20px;
}

.content-about h2 {
font-size: 20px;
font-weight: bold;
margin-bottom: 30px;
}

.content-about p {
font-size: 18px;
color: #444444;
line-height: 28px;
margin-bottom: 30px;
}

/* === DETAILS RECIPE === */

.banner {
margin-bottom: 50px;
}

.banner img {
width: 100%;
height: 280px;
border-radius: 15px;
margin-bottom: 50px;
}

.txt {
text-align: center;
}

.txt h1 {
font-size: 36px;
font-weight: bold;
margin-bottom: 4px;
}

.txt p {
font-size: 20px;
color: #777777;
}

/* INGREDIENTS */


.ingredientes h2 {
font-weight: bold;
font-size: 24px;
margin-bottom: 20px;
}

.ativo {
display: none;
visibility: hidden;
}

.ingredientes ul li {
font-size: 18px;
color: #444444;
line-height: 28px;
}

.ingredientes {
margin-bottom: 40px;
}

.preparo h2 {
font-weight: bold;
font-size: 24px;
margin-bottom: 20px;
}

.preparo ul li {
font-size: 18px;
color: #444444;
line-height: 28px;
}

.preparo {
margin-bottom: 40px;
}

.infos h2 {
font-weight: bold;
font-size: 24px;
margin-bottom: 20px;
}

.infos ul li {
font-size: 18px;
color: #444444;
line-height: 28px;
}

.infos {
margin-bottom: 40px;
}

.infos p {
font-size: 18px;
color: #444444;
line-height: 28px;
}

.mostrar {
display: flex;
align-items: baseline;


}

.mostrar h2 {
margin-right: 8px;  
}

.mostrar p {
font-size: 12px;
color: #999999;
cursor: pointer;
}

/* ADMIN  */

/* INDEX */

.header-admin {
    width: 100%;
    height: 80px;
    background: #111111;  
    margin-bottom: 50px; 
     
}

.header-admin a img {  
    margin-left: 5px;  
    margin-top: 27px;   
}


.main-admin > h1 {
    font-size: 24px;
    color: #111111;
    margin-bottom: 30px;
}

.cards-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    justify-content: space-around; 
}

.card-admin {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;  
}

.card-admin img {
    object-fit: cover;    
    width: 172px;
    height: 80px;
    border-radius: 8.57px;
}

.card-admin-info h2 {
    white-space: pre; 
    font-size: 18px;
    color: #111111;   
    margin-bottom: 5px; 
}

.card-admin-info p {
    font-size: 14px;
    color: #777777;   
    margin-bottom: 10px; 
}

.card-admin-info a {
    font-size: 14px;
    color: #6558C3;    
}


/* ADMIN */

/* CREATE */

.titulo-button {
    display: flex;
    justify-content: space-between;
}
.titulo-button button {
    background: #6558C3;
    border-radius: 4px;
    width: 139px;
    height: 37px;
    color: white;
    font-weight: bold;
}

.titulo-button h1{
    font-size: 24px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 30px;
}



.form-create input {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;  
    margin-bottom: 15px;  
}

.form-create h2 {
    font-weight: bold;
    font-size: 16px;
    color: #111111;  
    margin-bottom: 10px;      
}

.add-ingredient,
.add-passo {
    font-weight: bold;
    font-size: 16px;
    color: #6558C3;
    text-align: left; 
    margin-bottom: 30px; 
    background: none;
        
}

.form-create textarea{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;         
}

#h1-show {
    font-size: 24px;
    color: #111111; 
    font-weight: bold;
    margin-bottom: 24px;
}


