{% extends 'layout-admin.njk' %}

{% block content %}

<main class="container">
    <form class="form-create" action="/admin/recipes/create" method="post">
        <div class="titulo-button">
            <h1>Editando receita</h1>
            <button>Editar receita</button>
        </div>

        <h2>Imagem receita</h2>
        <input type="text" name="id" value={{items.image}}>

        <h2>Ingredientes</h2>
        {% for item in items.ingredients %}
        <input type="text" name="" id="" value="{{item}}">        
        {% endfor %}
        <p>Adicionar novo ingrediente</p>
        

        <h2>Modo de preparo</h2>
        {% for item in items.preparation %}
        <input type="text" name="" id="" value="{{item}}">        
        {% endfor %}
        <p>Adicionar novo passo</p>

        <h2>Informações adicionais</h2>
        <textarea name="" id="" cols="120" rows="10">{{items.preparation}}</textarea>
        
    </form>
</main>
{% endblock %}
